[submodule ".vim/pack/plugins/opt/vim-easy-align"]
	path = .vim/pack/plugins/opt/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule ".vim/pack/plugins/opt/vim-indent-object"]
	path = .vim/pack/plugins/opt/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule ".vim/pack/plugins/opt/vim-table-mode"]
	path = .vim/pack/plugins/opt/vim-table-mode
	url = git@github.com:dhruvasagar/vim-table-mode.git
[submodule ".vim/pack/plugins/opt/vim-fugitive"]
	path = .vim/pack/plugins/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/plugins/opt/vim-qf"]
	path = .vim/pack/plugins/opt/vim-qf
	url = https://github.com/romainl/vim-qf
[submodule ".vim/pack/plugins/opt/vimwiki"]
	path = .vim/pack/plugins/opt/vimwiki
	url = https://github.com/vimwiki/vimwiki
