*.font: xft:JetBrains Mono:size=11,xft:Fira Code:size=11,xft:Inconsolata,xft:DejaVu Sans Mono,xft:FreeSerif:size=11,xft:Symbola,xft:Noto Emoji:minspace=False
!*.italicFont: xft:JetBrains Mono Medium:style:size=11:Italic,xft:Script12 BT:size=11

#include ".config/xresources/colours/solarized-dark.xresources"
!#include ".config/xresources/colours/solarized-light.xresources"

! Apps
#include ".config/xresources/urxvt.xresources"
#include ".config/xresources/rofi.xresources"
